<% if current_user.admin? %>
    <% @tasks.each do |task| %>
        <div>
            <%= task.comment %>
        </div>
    <% end %>
<% else %>
    <div>you are not authorized to access this page  </div>
<% end %>